.container {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.form {
  text-align: center;
  box-shadow: 0 0 8px 0px grey;
  width: 45%;
  margin: 0 auto;
}
h2 {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 1em;
}
.form-control {
  margin-bottom: 20px;
  position: relative;
}
.form-control label {
  margin-right: 17.5em;
  display: block;
  margin-bottom: -10px;
  font-size: 17px;
}

.rtpass {
  margin-right: 14.3em !important;
}
.form-control input {
  width: 71%;
  padding: 10px 10px;
  font-size: 14px;
  border: 3px solid #e8e8e8;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
.form-control small {
  color: red;
  font-size: 14px;
  margin-top: 2px;
  display: block;
  margin-right: 17em;
}
.generate-password {
  display: block;
  text-decoration: none;
  color: black;
  background: #c3c3c3;
  width: 38%;
  padding: 8px 0;
  position: absolute;
  top: -14%;
  left: 31%;
}
button {
  background: #0d6efd;
  color: #fff;
  width: 75%;
  font-size: 16px;
  padding: 8px 0;
  border: 2px solid #0d6efd;
  border-radius: 5px;
  margin-bottom: 1em;
}
.error {
  border: 3px solid #ff2f2fa1 !important;
}
.success {
  border: 3px solid #48d948b0 !important;
}
.display-show {
  visibility: visible;
}
.display-hidden {
  visibility: hidden;
}
